@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
section{
    position: relative;
    min-height: 100vh;
    width: 100%;
    background: #fff;
    overflow: hidden;
}
section .heading{
    display: inline-block;
    position: relative;
    color: #3b7cf5;
    font-size: 40px;
    padding: 20px;
    width: 100%;
    text-align: center;
    font-weight: 800;
}
section .heading b{
    color: #fff;
}
.wrapper{
    width: 100;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}
.wrapper .container{
    position: relative;
    width: 350px;
    color: #fff;
    background: #222;
    margin: 40px 10px;
    padding: 30px 20px;
    border-radius: 3px;
    transition: 0.3s ease;
}
.wrapper .container .profile{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -10%;
    width: 100%;
    display: block;
}
.wrapper .container .profile .imgbox{
    position: relative;
    height: 100px;
    width: 100px;
    margin: auto;
    border: 8px solid #070c0d;
    border-radius: 50%;
    overflow: hidden;
}
.wrapper .container .profile .imgbox img{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-radius: 50%;
    object-fit: cover;
    transition: 0.3s ease;
}
.wrapper .container .profile .imgbox:hover{
    filter: saturate(140%);
    transform: scale(0.95);
}
.wrapper .container .profile h2{
    padding: 5px 0;
    text-transform: capitalize;
    color: #fff;
    letter-spacing: 1px;
    text-align: center;
}
.wrapper .container p{
    
    margin-top: 50px;
    color: #fff;
    padding: 0 8px;
    font-size: 15px;
    opacity: 0.8;
}
.wrapper .reply{
    display: block;
}
.wrapper .reply .area{
    outline: none;
    border: none;
    background-color: rgb(224, 221, 230);
}
.wrapper .container .left{
    font-size: 30px;
    display: block;
    text-align: left;
    color: #3b7cf5;
}
.wrapper .container .right{
    font-size: 30px;
    display: block;
    text-align: right;
    color: #3b7cf5;
}