.main-container{
    padding-top: 81px;
    flex-direction: row;
    position: relative;
    height: 100%;
    background-color: #fff;
    justify-content: center;
    text-align: center;
    width: auto;
}










  .button-container{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    padding: 20px;
  }
  
  #myBtn01{
      position: relative;
      background: #042434;
      color: #fff;
      padding: 10px 30px;
      cursor: pointer;
  }
  
  #myBtn01:hover{
    letter-spacing: .2rem;
    transition: .5s;
  }
  
 /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close01 {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close01:hover,
.close01:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}




















#myBtn02{
  position: relative;
  background: #042434;
  color: #fff;
  padding: 10px 30px;
  cursor: pointer;
}

#myBtn02:hover{
letter-spacing: .2rem;
transition: .5s;
}

/* The Modal (background) */
.modal {
display: none; /* Hidden by default */
position: fixed; /* Stay in place */
z-index: 1; /* Sit on top */
padding-top: 100px; /* Location of the box */
left: 0;
top: 0;
width: 100%; /* Full width */
height: 100%; /* Full height */
overflow: auto; /* Enable scroll if needed */
background-color: rgb(0,0,0); /* Fallback color */
background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
background-color: #fefefe;
margin: auto;
padding: 20px;
border: 1px solid #888;
width: 80%;
}

/* The Close Button */
.close02 {
color: #aaaaaa;
float: right;
font-size: 28px;
font-weight: bold;
}

.close02:hover,
.close02:focus {
color: #000;
text-decoration: none;
cursor: pointer;
}











.content form .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
form .user-details .input-box{
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
form .input-box span.details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.user-details .input-box input{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 12px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
  border-color: #83c8d1;
}
 form .gender-details .gender-title{
  font-size: 20px;
  font-weight: 500;
 }

 form .button{
   height: 45px;
   margin: 15px 0
 }
 form .button input{
  width: auto;
  border: none;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: #228693;
  padding: 10px 15px 10px 15px;
}
form .button input:hover{
 /* transform: scale(0.99); */
  letter-spacing: .2rem;
 }

