*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.norti-container-n{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* display: none; */
}
.norti-content-n{
    width: 750px;
    height: 100%;
    background: #BFDDDE;
    border-radius: 5px;
    position: relative;
    border-top: 120px;
}
.home-content{
  position: absolute;
  background: #F5F6FA;
  min-height: 100vh;
  width: 100%;
  transition: all 0.5s ease;
}
.close{
  position: absolute;
  right: 50px;
  top:95px;
  font-size: 30px;
  transform: rotate(45deg);
  cursor: pointer;
  color: #08343e;
}
/* content msg */
.msg-container{
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.notifi-img img{
  border-radius: 50%;
}

.notifi{
  justify-content: center;
  align-items: center;
  height: 120px;
  display: flex;
  background-color: whitesmoke;
  border-radius: 5px;
  border-left: 5px solid #ca5e5a;
}
.notifi-details{
  padding-left: 70px;
}

.id{
  color: #08343e;
  font-size: 13px;
  float: left;
}

.date{
  color: #08343e;
  font-size: 13px;
  float: right;
}

.tpno{
  color: #08343e;
  font-size: 13px;
  padding-right: 330px;
  padding-top: 35px;
  padding-bottom: 5px;
}
.message{
  font-size: 14px;
  color: #ad0606;
}
.fa-reply-all{
  font-size: 14px;
  padding-left: 450px;
  color: #08343e;
}
.reply{
  height: 300px;
  width: 500px;
  padding-top: 10px;
  display: none;
}
.reply form{
  height: 150px;
  background-color: rgb(241, 239, 239);
}
.reply form textarea{
  float: left;
  width: 400px;
  margin: 0;
  padding: 1rem;
  font-size: 0.8rem;
  text-transform: none;
  border-radius: 0.2rem;
  resize: none;
  border: none;
}
.button{
  background-color: #ca5e5a;
  border: none;
  color: white;
  padding: 5px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  margin-left: 350px;
}
td form{
  height: 100px;
}
.msg-container{
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border:1px solid transparent;
}
.content-msg{
  height: 50px;
  width: calc(100%-300px);
  color: #3c763d;
  text-align: center;
  align-items: center;
  background-color: #dff0d8;
  padding-top: 10px;
  border-radius: 3px;
  border-color:#d6e9c6;
}