strong {
  font-weight: 700;
}

small {
  font-size: 85%;
}

.floating-container {
  font-size: 12px;
  position: fixed;
  top: 0px;
  left: 0;
  z-index: 10000;
  min-height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: none;
}

.floating-container.active {
  top: -120%;
}

.alert {
  margin: 10px;
  border: 1px solid transparent;
  border-radius: 4px;
  text-align: center;
  z-index: 2000;
  line-height: 25px;
}

.alert a {
  text-decoration: none !important;
}

.alert-dismissable,
.alert-dismissible {
  padding: 20px 35px;
}
.alert-dismissable .remove-alert,
.alert-dismissible .remove-alert {
  position: relative;
  top: 1px;
  right: -21px;
  color: inherit;
}
.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.remove-alert {
  float: right;
  font-size: 27px;
  font-weight: 800;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: 0.4;
  text-decoration: none !important;
}
.remove-alert:focus,
.remove-alert:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  filter: alpha(opacity=50);
  opacity: 0.5;
}
