.home .swiper {
	position: absolute;
	top:98px;
  	width: 100%;
  	height: calc(100vh - 98px);
}

.home .swiper-slide{
	height: calc(100vh - 98px);
	background-repeat: no-repeat;
	background-size: cover;
  	background-position: center!important;
}

.home .swiper-pagination{
	color: red;
}

.swiper-button-next,
.swiper-button-prev {
	color:white;
}

.swiper-pagination-bullet {
	 background:white;
	 opacity:var(--swiper-pagination-bullet-inactive-opacity, .9);
}